<div class="error-msg-ajax ajax-messages">
  <p></p>
</div>

<div class="warning-msg-ajax ajax-messages">
  <p></p>
</div>

<div class="info-msg-ajax ajax-messages">
  <p></p>
</div>

<div class="success-msg-ajax ajax-messages">
  <p></p>
</div>